@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&family=Space+Grotesk&display=swap");

html {
  height: 100%;
  width: 100%;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:black;
  color: rgb(246, 246, 246);
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
}


.image-container {
  display: flex;
  align-items: center;
}

.image {
  flex: 1;
  padding-right: 20px;

}

.main-image {
  height: auto;
  max-width: 80%;
}

.text {
  flex: 1;
}


h1 {
  font-family: "Source Code Pro", monospace;
  margin-top: 70px;
  padding-left: 60px;
  font-size: 38px;
  font-weight: bold;}

p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 28px;
} 
